<div id="follow-header">Feeds</div>
<div style='margin-left:5px;padding-top:3px;white-space:nowrap;text-align:center;'>
  <%=link_to image_tag("/images/atom.png", :border => 0, :alt => "ATOM Newsfeed"), atom_feed_path, :class => 'image-link'%>
  <%=link_to image_tag("/images/rss.png", :border => 0, :alt => "RSS Newsfeed"), rss_feed_path, :class => 'image-link'%>
  <%if !blog.owner.twitter_name.blank?%>
    <%=link_to image_tag("/images/twitter.png", :border => 0, :alt => "@#{blog.owner.twitter_name}"),
               "http://twitter.com/#{blog.owner.twitter_name}", :class => 'image-link', :target => "_blank"%>
  <%end%>
</div>
