@import url("/stylesheets/blog/captions/generic-caption.css");
@import url("/stylesheets/blog/captions/subtitle.css");
@import url("/stylesheets/blog/captions/titlebar.css");
@import url("/stylesheets/blog/captions/extra-info.css");
@import url("/stylesheets/blog/posts.css");

body {
  background-color: #ccc;
  color: #333;
  background-image: url(/images/body.jpg);
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

span#gohome {
  float:left;
  margin-left:2em;
  font-variant:small-caps;
  color:#00f;
}

span#blog_name_link {
}

span#blog_name_link a { color: #000; text-decoration:none; }


span#blog_owner {
  display:block;
  font-style:italic;
  font-size: 75%;
}

div#collapse-sidebar {
  background-image: url("/images/arrow-darkgreen.png");
  width: 14px;
  height:40px;
  position:fixed;
  top:12em;
  right:238px;
  z-index:3;
  cursor: pointer;
}

div#outer {
  position:absolute;
  left:35px;
  right:35px;
  top:15px;
}

div#border-center {
  background-color:#fff;
}

div#content {
  margin-right:205px;
  left:0;
  top: 5px;
}

div#inner-content {
  background-color: #fff;
  padding: 0;
  min-height: 5in;
}

div#border-top-left {
  overflow:hidden;
  width:8px;
  height:8px;
  float:left;
  background-image: url("/images/white-corner-tl.png");
}

div#border-top-middle {
  background-color: #fff;
  height:8px;
  overflow:hidden;
}

div#border-top-right {
  overflow:hidden;
  width:8px;
  height:8px;
  float:right;
  background-image: url("/images/white-corner-tr.png");
}

div#inner-top-content {
  padding-bottom:2em;
  border-bottom: 2px dashed #ff9900;
}

div#border-bottom-left {
  width:8px;
  height:8px;
  float:left;
  background-image: url("/images/white-corner-bl.png");
  overflow:hidden;
}

div#border-bottom-middle {
  background-color: #fff;
  height:8px;
  overflow:hidden;
}

div#border-bottom-right {
  overflow:hidden;
  float:right;
  width:8px;
  height:8px;
  background-image: url("/images/white-corner-br.png");
}

.image-link {
  background-color:transparent !important;
}

div#flash {
  
  font-size:10px;
  text-align:center;
}

div#flash_error {
  color: #f00;
  background-color:#400;
}

div#flash_warning {
  color: #ff0;
  background-color:#440;
}

div#flash_notice, div#flash_message {
  color: #0f0;
  background-color:#040;
}

div#spacer {
  height:6px;
}

div#main {
  padding: 0.05in;
  margin-right:auto;
  margin-left: auto;
  padding-left: 0.5in;
  padding-right: 0.5in;
  text-align: justify;
}

div#main p {
  text-indent: 25px;
}

div#user_nav {
  text-align:center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #00a; text-decoration:none; }
a:visited { color: #00a; }
a:hover { color:#00f; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* embeds the openid image in the text field */
input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}


div#fake-bottom {
  /* I'm anal about the several-pixel border, so sue me.
     This is placed at the bottom (but INSIDE) of the #content div. Since #content is absolutely positioned,
     the browser will try to chop off the 5px space. So we just put an empty div there that's 5 pixels high
     to take up some space. Yay. */
  height:15px;
}