<%content_for :subtitle do%><%=model.name%>'s Profile<%end%>
<div style='text-align:center;'>
  Registered users are able to post and edit comments, and authorized users can post articles.
</div>
&nbsp;
<%=render :partial => 'form'%>
