<h1>Registration</h1>
<p>Registered users are able to post and edit comments, and authorized users can post articles.</p>
<p>Only the username and password fields are required.</p>
<%=render :partial => 'form'%>
