div.caption-container { display: table-row; }
div.caption-left      { display: table-cell; width:0.25in; }
div.caption-left img  { height:100%;width:0.25in; }
div.caption-right     { display: table-cell; width:0.25in; }
div.caption-right img { height:100%;width:0.25in; }
div.caption-center {
  background: url(/images/subtitle-bar-center.png);
  vertical-align:middle;
  display: table-cell;
  padding: 12px;
}
