div#titlebar {
  /*width:10.25in;*/
  text-align:center;
  min-height:42px;
  padding-top: 10px;
  font-size:28px;
/*  color: #bbb !important; */
}

div#titlebar form.edit_blog input {
  /* the text box that appears when editing the title. This is for blog owner / admin only. */
  height:40px;
  text-align:center;
  font-size:28px;
  z-index:1;
}

div#titlebar form.edit_blog input[type=text] {
  width:75%;
}


/*div#titlebar a { color: inherit !important; }*/
/*div#titlebar a { background-color: transparent; }*/
