<div class="extra">

  <div class="publish_date">
    <%if post.publish_date%>
      <%=h post.publish_date.strftime("%a, %b %d, %Y")%>
    <%else%>
      <span style='font-weight:800;'>(Draft)</span>
    <%end%>
  </div>

  <div class="sharethis-high">
    <span class="st_sharethis_button" st_title="<%=blog_title(h post.title)%>" st_url="<%=url_for post%>" displayText="ShareThis"></span>
  </div>
</div>
